$primary-color: #9fd5b5;
$secondary-color: #d0f0e3;
$tertiary-color: #0f7d63;
$quaternary-color: #49d3cc;

$button-text-color: white;

// $color1: #0f7d63;
// $color2: #9fd5b5;
// $color3: #d0f0e3;
// $color4: #49d3cc;
