$primary-color: #9fd5b5;
$secondary-color: #d0f0e3;

$tertiary-color: #0f7d63;

$color1: #0f7d63;
$color2: #9fd5b5;
$color3: #d0f0e3;
$color4: #49d3cc;

// #OF7D63;
// #9FD5B5;
// #D0F0E3;
// #49D3CC;
